.headerCard {
    background-color: #00000000;
    text-align: center;
    background-image: none;
    padding-top: 15px;
    padding-bottom: 40px;
    margin: 25px;
    border-radius: 14px;
    margin-top: 32px;
    margin-bottom: 1%;
}

.inputholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: #00000075;
    margin-right: 15px;
    border-radius: 10px;
    margin: auto;
}

.icon-Header {
    margin-top: 1%;
}

.placeholder-text {
    padding-left: 12px;
}

.signuparea {
    margin: auto;
}

.card1url1 {
    width: 15%;
    font-family: 'Figtree', sans-serif;
    background-color: #00000000;
    color: white;
    border: none;
    width: 100px;
    padding-left: 0px;
    padding-right: 12px;
    border-radius: 6px;
    outline: none;
    text-align: left;
}

.card1url2 {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1em;
    background-color: #00000000;
    font-family: 'Figtree', sans-serif;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
}

.button {
    position: relative;
    margin: auto;
    padding-top: 5px;
    background-color: #1d1d1d00;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(0deg, rgba(43,71,41,1) 0%, rgba(23,37,22,1) 100%);
}

/* Responsive Code (OVERWRITES HOMEPAGE.CSS REACTIVE CODE) */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .icon-Header {
        width: 16%;
    }
}