/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

/* Button Formatting */

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Back Button & User Icon Formatting */

.backButton {
    margin-right: 10px;
}

.BackButtonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px;
    height: 40px;
}

/* Navbar Formatting */

    /* List */

    .navbar ul {
        list-style-type: none;
        background-color: #00000050;
        padding: 0px;
        margin: 0px;
        border-radius: 16px;
    }

    /* Anchor Formatting */

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: left;
    }

        /* Make the Anchor always White */

        .navbar a:hover {
            background-color: #000000;
            border-radius: 16px;
            font-weight: bold;
        }

        a, a:hover, a:active, a:visited { 
            color: white; 
        }

    /* If the current tab is Selected */

    .selected {
        background-color: #070707;
        border-radius: 16px;
        font-weight: bold;
    }

/* Main Area Formatting */

.mainpageArea {
    width: 100%;
    height: 100%;
}

.ProjPref {
    background-color: #00000050;
    padding: 15px;
    border-radius: 16px;
    margin-right: 20px;
}

/* Sidebar / Navbar Layout */

.sidebarLayout {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebarArea {
    width: 10%;
    min-width: 10%;
    padding-left: 15px;
    padding-right: 15px;
}