/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

/* Button Formatting */

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.backButton {
    margin-top: 12px;
    margin-left: 12px;
}