/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

/* Button Formatting */

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.backButton {
    margin-right: 10px;
}

.navbar ul {
    list-style-type: none;
    background-color: #00000050;
    padding: 0px;
    margin: 0px;
    margin-left: 12px;
    margin-right: 86%;
    border-radius: 16px;
}

.LinkManagement {
    background-color: #00000050;
    margin-left: 12px;
    margin-right: 20%;
    padding: 15px;
    border-radius: 16px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}

.navbar a:hover {
    background-color: #000000;
    border-radius: 16px;
    font-weight: bold;
}

a, a:hover, a:active, a:visited { 
    color: white; 
}

.selected {
    background-color: #070707;
    border-radius: 16px;
    font-weight: bold;
}

.BackButtonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    height: 40px;
}