/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

/* Button Formatting */

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.backButton {
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}

.navbar ul {
    list-style-type: none;
    background-color: #00000050;
    padding: 0px;
    margin: 0px;
    margin-left: 12px;
    margin-right: 86%;
    border-radius: 16px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}