/* Body Formatting */
  
body {  
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-size: 1em;
    font-family: 'Figtree', sans-serif;
}

button {
    font-family: 'Figtree', sans-serif;
}

a, a:hover, a:active, a:visited { 
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
    color: white; 
}

/* Header */

header {
    background-color: #00000050;
    color: white;
    padding: 15px;
    text-align: left;
}

/* Cards Formatting */

    /* Header Card Formatting */

    .headerCard {
        background-color: #00000050;
        background-image: url(index-preview.png);
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 35%;
        margin-right: 35%;
        margin: 25px;
        border-radius: 14px;
    }

    .headerCard-decrease-width {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Benefit Card Formatting */

    .BenefitCard {
        background-color: #00000050;
        width: 35%;
        margin: auto;
        padding: 8px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 16px;
        margin-bottom: 16px;
    }

    /* Latest Update Formatting */

    .latestUpdate {
        background-color: #00000050;
        width: 60%;
        margin: auto;
        padding: 8px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 16px;
        margin-bottom: 16px;
    }

    /* Button Formatting */

    .signuparea {
        margin: auto;
    }
    
    #signupbutton {
        margin: 10px;
        padding: 10px;
        background-color: #1d1d1d;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #signupbutton:hover {
        background: linear-gradient(0deg, rgba(43,71,41,1) 0%, rgba(23,37,22,1) 100%);
    }

    #signinbutton {
        margin: 10px;
        padding: 10px;
        background-color: #00000000;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #signinbutton:hover {
        color: #187c11;
    }

    .learnmorebutton {
        margin: 10px;
        padding: 10px;
        background-color: #1d1d1d;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .learnmorebutton:hover {
        background: linear-gradient(180deg, #f3118d50, rgba(233,0,102,1) 100%)
    }