@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        margin: 0px;
    }

    .headerCard {
        max-width: none;
        width: 100%;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }

    .icon-Header {
        width: 10%;
    }

    .BenefitCard {
        width: fit-content;
        margin: auto;
        margin-bottom: 12px;
        border-radius: 0px;
    }

    .latestUpdate {
        width: fit-content;
        margin: auto;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .headerCard {
        margin: 0%;
        border-radius: 0px;
    }

    .BenefitCard {
        width: fit-content;
        margin: auto;
        margin-bottom: 12px;
    }
}