/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

/* Cards Formatting */

.card1 {
    background-color: #00000050;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
    margin: 25px;
    border-radius: 14px;
}

.BenefitCard {
    background-color: #00000050;
    width: 35%;
    margin: auto;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.latestUpdate {
    background-color: #00000050;
    width: 60%;
    margin: auto;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.card1-decrease-width {
    padding-left: 35%;
    padding-right: 35%;
}

.card1url1 {
    width: 15%;
    font-family: 'Figtree', sans-serif;
    background-color: #00000000;
    color: white;
    border: none;
    width: 100px;
    padding-left: 0px;
    border-radius: 6px;
    outline: none;
    text-align: left;
}

.card1url2 {
    width: 4%;
    background-color: #00000075;
    font-family: 'Figtree', sans-serif;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

.inputholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: #00000075;
    margin-right: 15px;
    border-radius: 10px;
    margin: auto;
}

.signuparea {
    display: flex;
    flex-direction: row;
    align-items: center;
}