/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

/* Cards Formatting */

    /* Header Card Formatting */
    .headerCard {
        background-color: #00000050;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 40px;
        margin: 25px;
        border-radius: 14px;
    }

    .headerCard-decrease-width {
        padding-left: 35%;
        padding-right: 35%;
    }

    /* Create Your Page / Sign In Button Row */

    .signuparea {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    /* Benefit Card Formatting */

    .BenefitCard {
        background-color: #00000050;
        width: 35%;
        margin: auto;
        padding: 8px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 16px;
        margin-bottom: 16px;
    }

    /* Latest Update Formatting */

    .latestUpdate {
        background-color: #00000050;
        width: 60%;
        margin: auto;
        padding: 8px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 16px;
        margin-bottom: 16px;
    }

    /* Button Formatting */

    #signupbutton {
        margin: 10px;
        padding: 10px;
        background-color: #1a1a1a;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #signinbutton {
        margin: 10px;
        padding: 10px;
        background-color: #1a1a1a;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }