/* Body Formatting */
  
body {
    height: 100vh;
    background: #1a1a1a;
    color: white;
    font-weight: normal;
    font-family: 'Figtree', sans-serif;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Card Formatting */

.user-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 40%;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 3%;
}

.link-card {
    background-color: rgba(19, 19, 19, 0.5);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: white;
    width: 100%;
}

.link-card-yt {
    background-color: rgba(255, 0, 0, 0.5);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: white;
    width: 100%;
}

.link-card-X {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: white;
    width: 100%;
}